@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@if (TempData["error"] != null)
{
    <script>
        window.onload = errorAlert('@TempData["error"]');
    </script>
}

<div class="content-page">
    <div class="container-fluid add-form-list">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Agregar categoría</h4>
                        </div>
                    </div>
                    <div class="card-body">
                       @* <form action="page-list-category.html" data-toggle="validator">*@
                        @using (Html.BeginForm("Create", "Category", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Código *</label>
                                        <input type="number" class="form-control" name="Code" id="Code" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Nombre de la categoría *</label>
                                        <input type="text" class="form-control" name="Name" id="Name" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                              @*  <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Category *</label>
                                        <select name="type" class="selectpicker form-control" data-style="py-0">
                                            <option>Beauty</option>
                                            <option>Grocery</option>
                                            <option>Food</option>
                                            <option>Furniture</option>
                                            <option>Shoes</option>
                                            <option>Frames</option>
                                            <option>Jewellery</option>
                                        </select>
                                    </div>
                                </div>*@
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Descripción *</label>
                                        <textarea class="form-control" id="Description" name="Description" rows="4"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Imagen</label>
                                        <input type="file" class="form-control image-file" name="Image" id="Image" accept="image/*">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Agregar</button>
                            <button type="reset" class="btn btn-danger">Reiniciar</button>
                        @*</form>*@
                        }

                        @if (ViewBag.JavaScriptFunction != null)
                        {
                            <script type="text/javascript">
                                @Html.Raw(ViewBag.JavaScriptFunction)
                            </script>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- Page end  -->
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function successfulAlert() {
            Swal.fire({
                title: '¡Creado!',
                text: "La categoría ha sido creada exitosamente",
                icon: 'success',
                showCancelButton: false,
                //confirmButtonColor: '#3085d6',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location = "/Category/List"
                }
                return false;
            });
        };
    </script>

    <script type="text/javascript">
        function errorAlert(message) {
            Swal.fire(
                'Error',
                message,
                'error'
            )
        };
    </script>
}